export(array2df)
export(array2vec)
export(arrayhelpers.unittest)
export(colMeans.AsIs)
export(colSums.AsIs)
export(delold)
export(drop1d)
export(dropdimnames)
export(ensuredim)
export(groupsum)
export(lon)
export(makeNd)
exportMethods(colMeans)
exportMethods(colSums)
exportMethods(rowMeans)
exportMethods(rowsum)
exportMethods(rowSums)
export(ndim)
export(numericindex)
export(restoredim)
export(rowMeans.AsIs)
export(rowSums.AsIs)
export(slice)
export("slice<-")
export(ta)
export(vec2array)
